ASPNETCORE_FORWARDEDHEADERS_ENABLED="true"
  
POSTGRES__SERVER="postgres"
POSTGRES__DATABASE="onlinesales"
POSTGRES__USERNAME="onlinesales-user"
POSTGRES__PASSWORD="strong-password"

ELASTIC__SERVER="elasticsearch"
ELASTIC__INDEXPREFIX="onlinesales"

PLUGINS__0=OnlineSales.Plugin.AzureAD
PLUGINS__1=OnlineSales.Plugin.ReverseProxy

AZUREAD__TENANTID="tenant-id"
AZUREAD__DOMAIN="domain.name"
AZUREAD__CLIENTID="client-id"
AZUREAD__SCOPE="scope"
AZUREAD__CLIENTSECRET="client-secret"
AZUREAD__GROUPSMAPPING__ADMINISTRATORS="admin-group-id"

EMAIL__SERVER="smtp.sendgrid.net"
EMAIL__USERNAME="api-key"
EMAIL__PASSWORD="missing"
EMAIL__PORT="465"

APISETTINGS__MAXLISTSIZE=100

CONTACTUS__TO__0="support@email.com"

GEOLOCATIONAPI__AUTHKEY="missing"
EMAILVERIFICATIONAPI__APIKEY="missing"
ACCOUNTDETAILSAPI__APIKEY="missing"

CORS__ALLOWEDORIGINS__0=https://login.microsoftonline.com
CORS__ALLOWEDORIGINS__1=http://localhost:8080/
